@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/**---General---**/
*{
    font-family: Roboto, sans-serif;
    color: white;
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #d28e2c;
}
#navbarSupportedContent ul li a{
    color: white;
    padding: 2px;
}
#navbarSupportedContent ul li a:hover{
    transition: all 1s;
    transform: scale(1.05);
    background-color: #a82d01;
}
.bg-orange{
    background-color: #d44d1c;
}
.navbar-brand, .navbar, .nav{
    padding: 0px;
}
.navbar-toggler{
    margin-right: 10px;
}
#logo{
    height: 11vh;
    padding: 0px;
    margin: 0px;
}
.main__title{
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 10px;
    font-size: large;
}
.carousel-item div img{
    margin: auto;
}
.carousel{
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}
.article{
    width: 100%;
    height: auto;
    background-color: #d33b04;
    display: flex;
    justify-content: center;
}
.article-flex{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    width: 95%;
    height: auto;
    padding: 5px auto;
    margin: 5px auto;
    background-color: #d33b04;
}
.subarticle{
    display: inline-block;
    height: auto;
    width: 90%;
    background-color: #a82d01;
    margin: 10px 5px;
    padding: 5px;
}
.parr{
    padding: 5px;
}
.title2{
    font-weight: lighter;
    font-style: italic;
    font-size: x-large;
    padding-top: 5px;
    text-align: center;
}
.subarticle img{
    width: 70%;
    display: block;
    margin: 10px auto;
}
.centrado{
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.article__titles{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aclaration{
    font-style: italic;
    margin: 10px auto;
    text-align: center;
}
.aclaration a{
    color: white;
}
.article__img{
    width: 85%;
    margin: 1rem;
}
.side-tables{
    width: 100%;
    margin: 10px 0px;
    position: sticky;
    top: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #d33b04;
}
.side-tables h2{
    font-size: medium;
}
.table td, .table th{
    font-size: x-small;
    padding: 0px;
    padding-left: 1vh;
}
.prod h2{
    font-size: large;
}
.prod__div{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.prod__img{
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
}
.prod__cod{
    text-align: center;
    font-weight: lighter;
    font-size: small;
    padding-bottom: 8px;
}
.form{
    display: block;
    background-color: #d33b04;
    width: 80%;
    margin: 10px auto;
    padding: 5px;
}
.form div{
    padding: 10px;
}
.black-text{
    color: black;
}
.flex-vertical{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.flex-vertical label, input{
    margin-bottom: 5px;
}
.form a{
    color: white;
}
.form button{
    margin: 10px 5px;
}
/** Footer **/
footer {
    background-color: #af0000;
    height: 7vh;
    width: 100%;
}
footer img {
    display: inline-block;
    height: 70%;
    width: auto;
    margin: 5px 5px 0px 5px;
}
#face{
    background-color: white;
}
/** Media Queries **/
@media only screen and (min-width: 576px){
    .navbar-nav{
        width: 65%;
        justify-content: space-around;
        font-size: large;
    }
    .main__title{
        font-size: x-large;
    }
    .side-tables h2{
        font-size: larger;
    }
    .table td, .table th{
        font-size: small;
        padding: 0vh 1vh;
    }
    .article-flex{
        height: auto;
        justify-content: space-around;
    }
    .subarticle{
        width: 30%;
    }
    .prod__div{
        width: 45%;
    }
    .prod h2{
        font-size: x-large;
    }
}
@media only screen and (min-width: 768px){
    .carousel{
        width: 90%;
    }
    .article{
        width: 98%;
        height: auto;
        background-color: #d33b04;
        display: flex;
        justify-content: space-evenly;
    }
    
    .article__img{
        width: 45%;
    }
}
@media only screen and (min-width: 992px){
    .carousel{
        width: 85%;
    }
    .navbar-nav{
        width: 50%;
    }
    .parr{
        text-align: justify;
    }
}
@media only screen and (min-width: 1200px){
}