/** Footer **/
footer {
    background-color: $bgColorFooter;
    height: 7vh;
    width: 100%;
    img{
        display: inline-block;
        height: 70%;
        width: auto;
        margin: 5px 5px 0px 5px;
    }
}
#face{
    background-color: white;
}